$padding-top: 30px;

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 99vw;
}

.left {
  // background-color: red;
  padding: $padding-top 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.right {
  // background-color: magenta;
  padding-top: $padding-top;
  flex: 1;
}

.leader-buttons {
  // margin-top: $padding-top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: $padding-top;
}

.black-card-container {

}

.card-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 300px;
}

.placed-white-cards {

}

.personal-white-cards {

}

.card {
  width: 250px;
  height: 250px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-black {
  background-color: black;
  color: white;
}

.card-white {
  background-color: white;
  color: black;

}

.card-white-playable {
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}
