<div class="container">
  <button class="leader-button btn btn-primary" *ngIf="!gameActive" (click)="requestNewGame()">New Game</button>
  <button class="leader-button btn btn-primary" *ngIf="gameActive && !gameOver && !roundActive" (click)="requestStartRound()">Start Game</button>
  <button class="leader-button btn btn-primary" *ngIf="gameActive && roundActive && !turnActive" (click)="requestStartTurn()">Next Turn</button>
  <button class="leader-button btn btn-primary" *ngIf="gameActive && gameOver" (click)="endGame()">End Game</button>

  <app-lobby-members-list [members]="members" [leaderId]="leaderId"></app-lobby-members-list>

  <div class="game-table" *ngIf="gameActive">
    <div class="card-list">
      <div *ngIf="currentBlackCard" class="card card-black">
        {{ currentBlackCard.text }}
      </div>
      <div *ngFor="let whiteCard of placedWhiteCards" class="card card-white">
        {{ whiteCard.text }}
      </div>
    </div>
  </div>

  <!--<div *ngIf="!gameActive">
    <h1 *ngIf="isLeader">Click "Start Game" to start the game.</h1>
    <h1 *ngIf="!isLeader">Waiting for the next game to start...</h1>
  </div>-->

  <app-personal-cards-tray
    *ngIf="roundActive"
    [personalCards]="personalWhiteCards"
    [cardPlayedCallback]="cardPlayedCallback"></app-personal-cards-tray>
</div>
