// Color Definitions
$almost-white: #e5e5e5;
$aqua: #00ffff;
$aqua-darker: #b1eeee;
$dark-gray: #262626;
$almost-black: #111111;

// Color Scheme
$color-primary: $aqua;
$color-text-primary: black;
$color-text-branding: $almost-white;
$color-btn-hover: #1d1d1d;

// Dimensions
$header-height: 70px;
$padding-sides-default: 20px;

// Z-Layers
$layer-floating-buttons: 100;
$layer-personal-cards-tray: 50;
