@import "../../../variables";

div {
  color: white;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  height: 7vh;
  width: 100%;
  background-color: $color-dark;
  padding: 0 20px;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;

  & a,
  & a:visited {
    color: $color-text-branding;
    font-weight: bold;
    text-decoration: none;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.info-container > .info-box {
  margin-left: 20px;
}
