$card-color: #F03BF1;

.member-card {
  background-color: $card-color;
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin-bottom: 30px;
  font-weight: bold;
  border-width: 3px;
  border-color: $card-color;
  border-style: solid;
  border-radius: 200px;
}

.member-card-leader {
  border-color: white;
}

.member-card-content {
  color: white;
  text-align: center;
}
