.member-card {
  background-color: #F03BF1;
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin-bottom: 30px;
  font-weight: bold;
  border-radius: 200px;
}

.member-card-content {
  color: white;
  text-align: center;
}
